JenkinsBuild/Editor/Config/xsd/BuildInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="EnumType.xsd"/>
  <xs:simpleType name="ApiCompatibilityLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NET_2_0"/>
      <xs:enumeration value="NET_2_0_Subset"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BuildInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Scences">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Scence">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="explain" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="explain" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="PackName">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="explain" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Version">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="explain" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="BundleVersionCode">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:unsignedByte">
                <xs:attribute name="explain" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="SdkVersions" default="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:int">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="min" type="xs:int" use="required" />
                <xs:attribute name="max" type="xs:int" use="required" />
                <xs:attribute name="default" type="xs:int" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="TargetSdkVersion" default="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:int">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="min" type="xs:int" use="required" />
                <xs:attribute name="max" type="xs:int" use="required" />
                <xs:attribute name="default" type="xs:int" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="TargetDevices" default="ARMv7">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="AndroidTargetDeviceEnum">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="AndroidTargetDeviceEnum" use="optional" default="ARMv7" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Scriptingimplementation" default="IL2CPP">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="ScriptingImplementationEnum">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="ScriptingImplementationEnum" use="optional" default="IL2CPP" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApiCompatibilityLevel" default="NET_2_0_Subset">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="ApiCompatibilityLevelEnum">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="ApiCompatibilityLevelEnum" use="optional" default="NET_2_0_Subset" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="InternetAccess" default="true" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:boolean">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="xs:boolean" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="AndroidBuildSystem" default="Internal" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="AndroidBuildSystemEnum">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="AndroidBuildSystemEnum" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Development" default="false">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:boolean">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="xs:boolean" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ConnectProfiler" default="false">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:boolean">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="xs:boolean" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ScriptsDebuggers" default="false">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:boolean">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="xs:boolean" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Path">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="explain" type="xs:string" use="optional" />
                <xs:attribute name="default" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>