JenkinsBuild/Editor/Config/xsd/BuildInfo.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.15.7745 (https://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="CommonElement.xsd" />
    <xs:element name="BuildInfo">
        <xs:complexType>
            <xs:all>
                <xs:element name="Scences">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Scence" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="ScencePath">
                                            <xs:attribute name="explain" type="xs:string" use="optional" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CompanyName" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ProductName" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CursorHotspot" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Icons" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="Android">
                                <xs:complexType>
                                    <xs:sequence minOccurs="6" maxOccurs="6">
                                        <xs:element ref="Icon" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IOS">
                                <xs:complexType>
                                    <xs:sequence minOccurs="9" maxOccurs="9">
                                        <xs:element ref="Icon" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PC">
                                <xs:complexType>
                                    <xs:sequence minOccurs="7" maxOccurs="7">
                                        <xs:element ref="Icon" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ColorSpace" type="ColorSpaceEnum" minOccurs="0" />
                <xs:element name="AutoGraphicsAPI" minOccurs="0" default="true">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ForcehardShadowsOnMetal" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="StaticBatching" minOccurs="0" default="true">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DynamicBatching" minOccurs="0" default="true">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="GPUSkinning" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="GraphicsJobs" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="VitualRealitySupported" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Version">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ScriptingBackend" type="ScriptingImplementationEnum" minOccurs="0" />
                <xs:element name="APICompatibilityLevel" type="ApiCompatibilityLevelEnum" minOccurs="0" />
                <xs:element name="ScriptingDefineSymbols" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="IsAdd" default="true" type="xs:boolean" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrebakeCollisionMeshes" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="KeepLoadedShadersAlive" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!--<xs:element name="PreloadedAssets" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>无法设置</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Assets">
                                <xs:annotation>
                                    <xs:documentation>需要增加资源路径约定</xs:documentation>
                                </xs:annotation>
                                <xs:complexType />
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>-->
                <xs:element name="StrippingLevel" type="StrippingLevelEnum" minOccurs="0" />
                <xs:element name="EnableInternalProfiler" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- <xs:element name="VertexCompression" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>无法设置</xs:documentation>
                    </xs:annotation>
                    <xs:complexType />
                </xs:element> -->
                <xs:element name="OptimizeMeshData" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean" />
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Logging" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence maxOccurs="5">
                            <xs:element name="Type">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="LogTypeEnum">
                                            <xs:attribute name="StackType" type="StackTraceLogTypeEnum" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BuildType" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="Android">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element ref="AndroidAndIOS" minOccurs="0" />
                                        <xs:element name="Use32-bitDisplayBuffer" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ProtectGraphicsMemory" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PackageName" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BundleVersionCode" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:int" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MinimumAPILevel" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:int">
                                                        <xs:attribute name="Min" type="xs:int" use="required" />
                                                        <xs:attribute name="Max" type="xs:int" use="required" />
                                                        <xs:attribute name="default" type="xs:int" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TargetAPILevel" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:int">
                                                        <xs:attribute name="Min" type="xs:int" use="required" />
                                                        <xs:attribute name="Max" type="xs:int" use="required" />
                                                        <xs:attribute name="default" type="xs:int" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ShowLoadingIndicator" type="AndroidShowActivityIndicatorOnLoadingEnum" minOccurs="0" />
                                        <xs:element name="DeveiceFilter" type="AndroidTargetDeviceEnum" minOccurs="0" />
                                        <xs:element name="InstallLocation" type="AndroidPreferredInstallLocationEnum" minOccurs="0" />
                                        <xs:element name="InternetAccess" type="xs:boolean" minOccurs="0" />
                                        <xs:element name="WriteSDCard" type="xs:boolean" minOccurs="0" default="true" />
                                        <xs:element name="AndroidTVCompatibility" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AndroidGame" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <!--<xs:element name="AndroidGamepadSupportLevel" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>不能使用~</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType />
                                        </xs:element>
                                        -->
                                        <xs:element name="BuildSystem" type="AndroidBuildSystemEnum" minOccurs="0" />
                                        <xs:element name="BuildSubtarget" type="MobileTextureSubtargetEnum" minOccurs="0" />
                                        <xs:element name="ETC2Fallback" type="AndroidETC2FallbackEnum" minOccurs="0" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PC">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element ref="PCAndIOS" />
                                        <xs:element name="DefaultIsFullScreen" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DefaultIsNativeResolution" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="RunInBackground" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CaptureSingleScreen" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="UsePlayerLog" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ResizableWindow" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="VisibleInBackground" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AllowFullscreenSwitch" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ForceSingleInstance" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MacAppStoreValidation" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DisplayResolutionDialog" type="ResolutionDialogSettingEnum" minOccurs="0" />
                                        <xs:element name="MacFullscreenMode" type="MacFullscreenModeEnum" minOccurs="0" />
                                        <xs:element name="D3D9FullscreenMode" type="D3D9FullscreenModeEnum" minOccurs="0" />
                                        <xs:element name="D3D11FullscreenMode" type="D3D11FullscreenModeEnum" minOccurs="0" />
                                        <xs:element name="SupportedAspectRations" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="5">
                                                    <xs:element name="AspectRatio">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="AspectRatioEnum">
                                                                    <xs:attribute name="enable" type="xs:boolean" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Category" type="xs:string" minOccurs="0" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IOS">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element ref="PCAndIOS" />
                                        <xs:element ref="AndroidAndIOS" />
                                        <xs:element name="UseAnimatedAutorotation" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="RequiresFullscreen" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StatusBarHidden" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AutomaticallySign" minOccurs="0" default="true">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="UseOnDemandResources" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PrepareIOSForRecording" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="RequiresPersistentWifi" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AllowDownloadsOverHttp" minOccurs="0" default="true">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="RenderExtraFrameOnPause" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DisableHWStatistics" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AutomaticSigningTeamID" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TargetMinimumIOSVersion" type="IOSVersion" minOccurs="0" />
                                        <xs:element name="CameraUsageDescription" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LocationUsageDescription" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MicrophoneUsageDescription" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string" />
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StatusBarStyle" type="IOSStatusBarStyleEnum" minOccurs="0" />
                                        <xs:element name="TargetDevice" type="IOSTargetDeviceEnum" minOccurs="0" />
                                        <xs:element name="TargetSdK" type="IOSSdkVersionEnum" minOccurs="0" />
                                        <xs:element name="AccelerometerFrequency" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>增肌枚举约定,目前是int限制范围约定</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                    <xs:maxInclusive value="100" />
                                                    <xs:minInclusive value="0" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="BehaviorInBackground" type="IOSAppInBackgroundBehaviorEnum" minOccurs="0" />
                                        <xs:element name="Architecture" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>增肌枚举约定,目前是int限制范围约定</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                    <xs:minInclusive value="0" />
                                                    <xs:maxInclusive value="2" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <!--<xs:element name="SupportedURLSchemes" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>没有找到设置</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="Url">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string" />
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element> -->
                                        <xs:element name="ShowLoadingIndicator" type="IOSShowActivityIndicatorOnLoadingEnum" minOccurs="0" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Development" type="xs:boolean" minOccurs="0" default="false" />
                <xs:element name="ConnectProfiler" type="xs:boolean" minOccurs="0" default="false" />
                <xs:element name="ScriptsDebuggers" type="xs:boolean" minOccurs="0" default="false" />
                <xs:element name="OutPath" type="PackOutPath" />
                <xs:element name="PackNname" type="xs:string" minOccurs="0" />
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>