JenkinsBuild/Editor/Config/xsd/CommonElement.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.15.7745 (https://www.liquid-technologies.com)-->
<xsd:schema elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--Api 兼容等级 枚举-->
    <xsd:simpleType name="ApiCompatibilityLevelEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NET_2_0" />
            <xsd:enumeration value="NET_2_0_Subset" />
            <xsd:enumeration value="NET_4_6" />
            <xsd:enumeration value="NET_Web" />
            <xsd:enumeration value="NET_Micro" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--脚本运行环境 枚举-->
    <xsd:simpleType name="ScriptingImplementationEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Mono2x" />
            <xsd:enumeration value="IL2CPP" />
            <xsd:enumeration value="WinRTDotNET" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--安卓设备架构 枚举-->
    <xsd:simpleType name="AndroidTargetDeviceEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FAT" />
            <xsd:enumeration value="ARMv7" />
            <xsd:enumeration value="x86" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--IOS设备架构 枚举-->
    <xsd:simpleType name="IOSTargetDeviceEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="iPhoneOnly" />
            <xsd:enumeration value="iPadOnly" />
            <xsd:enumeration value="iPhoneAndiPad" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--安卓打包系统 枚举-->
    <xsd:simpleType name="AndroidBuildSystemEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Internal" />
            <xsd:enumeration value="Gradle" />
            <xsd:enumeration value="ADT" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--安卓打包系统 枚举-->
    <xsd:simpleType name="MobileTextureSubtargetEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Generic" />
            <xsd:enumeration value="DXT" />
            <xsd:enumeration value="PVRTC" />
            <xsd:enumeration value="ATC" />
            <xsd:enumeration value="ETC" />
            <xsd:enumeration value="ETC2" />
            <xsd:enumeration value="ASTC" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--场景路径约束-->
    <xsd:simpleType name="ScencePath">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|]):(\\|/))?(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])*(\\|/))*([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])+\.unity" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--输出路径约束-->
    <xsd:simpleType name="Path">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|]):(\\|/))?(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])*(\\|/))*([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])+\.apk|(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|]):(\\|/))?(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])*(\\|/))*([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])+\.exe|(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|]):(\\|/))?(([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])*(\\|/))*([^/|\\|:|\*|\?|\&quot;|\&lt;|\&gt;|\|])*" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--贴图解压模式 枚举-->
    <xsd:simpleType name="AndroidETC2FallbackEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Quality32Bit" />
            <xsd:enumeration value="Quality16Bit" />
            <xsd:enumeration value="Quality32BitDownscaled" />
        </xsd:restriction>
    </xsd:simpleType>
    <!--旋转 枚举-->
    <xsd:simpleType name="UIOrientationEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Portrait" />
            <xsd:enumeration value="PortraitUpsideDown" />
            <xsd:enumeration value="LandscapeRight" />
            <xsd:enumeration value="LandscapeLeft" />
            <xsd:enumeration value="AutoRotation" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IOSShowActivityIndicatorOnLoadingEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DontShow" />
            <xsd:enumeration value="WhiteLarge" />
            <xsd:enumeration value="White" />
            <xsd:enumeration value="Gray" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AndroidShowActivityIndicatorOnLoadingEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DontShow" />
            <xsd:enumeration value="Large" />
            <xsd:enumeration value="InversedLarge" />
            <xsd:enumeration value="Small" />
            <xsd:enumeration value="InversedSmall" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ResolutionDialogSettingEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Disabled" />
            <xsd:enumeration value="Enabled" />
            <xsd:enumeration value="HiddenByDefault" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MacFullscreenModeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CaptureDisplay" />
            <xsd:enumeration value="FullscreenWindow" />
            <xsd:enumeration value="FullscreenWindowWithDockAndMenuBar" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D3D9FullscreenModeEnum">
        <xsd:annotation>
            <xsd:appinfo>d3d9的支持已被移除在2017.3.09中</xsd:appinfo>
            <xsd:documentation>d3d9的支持已被移除在2017.3.09中v</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ExclusiveMode" />
            <xsd:enumeration value="FullscreenWindow" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D3D11FullscreenModeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ExclusiveMode" />
            <xsd:enumeration value="FullscreenWindow" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IOSStatusBarStyleEnum">
        <xsd:annotation>
            <xsd:documentation>在2017.3中:
	BlackTranslucentv
	BlackOpaquev
变为了:
	LightContentv</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BlackTranslucent" />
            <xsd:enumeration value="BlackOpaque" />
            <xsd:enumeration value="Default" />
            <xsd:enumeration value="LightContent" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IOSSdkVersionEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DeviceSDK" />
            <xsd:enumeration value="SimulatorSDK" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IOSAppInBackgroundBehaviorEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Custom" />
            <xsd:enumeration value="Suspend" />
            <xsd:enumeration value="Exit" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AndroidPreferredInstallLocationEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Auto" />
            <xsd:enumeration value="PreferExternal" />
            <xsd:enumeration value="ForceInternal" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ColorSpaceEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Uninitialized" />
            <xsd:enumeration value="Gamma" />
            <xsd:enumeration value="Linear" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StrippingLevelEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Disabled" />
            <xsd:enumeration value="StripAssemblies" />
            <xsd:enumeration value="StripByteCode" />
            <xsd:enumeration value="UseMicroMSCorlib" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StackTraceLogTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="None" />
            <xsd:enumeration value="ScriptOnly" />
            <xsd:enumeration value="Full" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="Icon">
        <xsd:annotation>
            <xsd:documentation>
                Icon需要加入路径约定
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="explain" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PCAndIOS">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="BundleIdentifier" type="xsd:string" minOccurs="0" />
                <xsd:element name="Build" type="xsd:int" minOccurs="0" />
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AndroidAndIOS">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="DefaultOrientation" type="UIOrientationEnum" minOccurs="0">
                    <xsd:annotation>
                        <xsd:appinfo>屏幕方向</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Portrait" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="PortraitUpsideDown" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="LandscapeRight" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="LandscapeLeft" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="DisableDepthAndStencil" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="MuteOtherAudioSources" type="xsd:boolean" minOccurs="0" />
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>